*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--light_color);
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--text_color);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 1.5rem 3.7rem;
  background: var(--accent_color);
  color: var(--light_color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.flex-aic-jcsb, .header__top, .header__menu-list, .download__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-start, .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

:root {
  --light_color:#fff;
  --accent_color:#F6762C;
  --text_color:rgba(255, 255, 255, .7);
  --bg_color:#1C1C1C;
  --bg2_color:#312F30;
}

.header {
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

.header__top {
  margin-bottom: 10rem;
}

.header__logo {
  width: 10rem;
  height: 10rem;
}

.header__menu-list {
  font-size: 1.4rem;
  line-height: 1.15;
  color: var(--text_color);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__menu-list li + li {
  margin-left: 2.8rem;
}

.header__menu-list a {
  color: var(--text_color);
}

.header__menu-list a:hover {
  color: var(--light_color);
}

.header__subtitle {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: var(--text_color);
  margin-bottom: 0.7rem;
}

.header__title {
  font-size: 5.7rem;
  line-height: 1.18;
  margin-bottom: 3.7rem;
  max-width: 55.5rem;
}

.header__desc {
  font-size: 1.8rem;
  line-height: 1.17;
  margin-bottom: 4.2rem;
  max-width: 52.3rem;
}

.cards {
  background-color: var(--bg_color);
  padding: 11.5rem 0 10rem;
}

.cards__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26.2rem)[4];
      grid-template-columns: repeat(4, 26.2rem);
  gap: 3.1rem;
}

.cards .card {
  background-color: var(--bg2_color);
  border-radius: 1rem;
  max-width: 26.2rem;
  min-height: 32.3rem;
  overflow: hidden;
}

.cards .card__img {
  margin-bottom: 2.8rem;
}

.cards .card__title {
  font-size: 2rem;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 1.3rem;
}

.cards .card__desc {
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
  max-width: 22.4rem;
  margin: 0 auto 3rem;
}

.promo {
  background-color: var(--bg2_color);
  padding-bottom: 4.3rem;
}

.promo__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__box {
  -ms-grid-column-align: center;
      justify-self: center;
}

.promo__title {
  font-size: 4.4rem;
  line-height: 1.18;
  margin-bottom: 2.4rem;
}

.promo__desc {
  max-width: 36.8rem;
  margin-bottom: 1.3rem;
}

.promo__price {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: var(--accent_color);
  margin-bottom: 1.2rem;
}

.promo__price span {
  display: inline-block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--accent_color);
  opacity: .5;
  margin-left: 0.6rem;
}

.product {
  background-color: var(--bg_color);
  padding: 15rem 0 7.5rem;
}

.product__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 114rem;
  margin: 0 auto;
}

.product__card {
  position: relative;
  max-width: 55.5rem;
  max-height: 30rem;
}

.product__card-box {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product__card-box-left {
  left: 5rem;
}

.product__card-title {
  font-size: 3rem;
  line-height: 1.17;
  margin-bottom: 2rem;
}

.product__card-desc {
  max-width: 26.3rem;
  margin-bottom: 1rem;
}

.product__card-price {
  letter-spacing: 0.1em;
  color: var(--accent_color);
  margin-bottom: 1rem;
}

.product__card-price span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--accent_color);
  opacity: 0.5;
  margin-left: 1rem;
}

.reviews {
  background-color: var(--bg_color);
  padding: 7.5rem 0 20.3rem;
}

.reviews__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.reviews__user {
  position: relative;
  max-width: 35rem;
  min-height: 35rem;
  margin-left: 16rem;
}

.reviews__user::before, .reviews__user::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px dashed var(--accent_color);
  opacity: 0.3;
  border-radius: 50%;
}

.reviews__user::before {
  width: 23rem;
  height: 23rem;
}

.reviews__user::after {
  width: 34.6rem;
  height: 34.6rem;
}

.reviews__user-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.reviews__user-img1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__user-img2 {
  position: absolute;
  top: 5%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__user-img3 {
  position: absolute;
  top: 70%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__user-img4 {
  position: absolute;
  top: 90%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__user-img5 {
  position: absolute;
  top: 30%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__content {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reviews__img {
  width: 4.7rem;
  height: 4.6rem;
  margin-bottom: 3.7rem;
}

.reviews__desc {
  text-align: center;
  max-width: 36.8rem;
  margin: 0 auto 2.7rem;
}

.reviews__name {
  font-size: 2.4rem;
  line-height: 1.17;
  margin-bottom: 0.2rem;
}

.reviews__subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.17;
  text-align: center;
  color: var(--light_color);
  opacity: 0.7;
}

.download {
  background-color: var(--bg2_color);
  padding: 6rem 0;
}

.download__wrap {
  max-width: 95rem;
  margin: 0 auto;
}

.download__title {
  font-size: 4rem;
  line-height: 1.8;
}

.footer {
  background: var(--bg_color);
  padding: 8.6rem 0 14rem;
}

.footer__logo {
  width: 13.2rem;
  height: 13.2rem;
}

.footer .logo__wrap {
  margin-left: -4rem;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 3rem;
}

.footer__list li:not(:first-child) {
  padding-top: 3rem;
}

.footer__item-title {
  font-size: 1.6rem;
  line-height: 1.19;
  margin-bottom: 1.4rem;
}

.footer__mail {
  margin-top: -3rem;
}

.footer__list a {
  display: block;
  font-size: 1.2rem;
  line-height: 1.17;
  color: var(--light_color);
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.footer__list a:last-child {
  margin-bottom: 0;
}

.footer__list svg {
  fill: var(--accent_color);
  margin-right: 1rem;
  vertical-align: middle;
}

.footer__social a + a {
  margin-left: 1rem;
}

.footer__social a {
  margin-bottom: 0;
}

.footer__social img {
  width: 1.5rem;
  height: 1.5rem;
}
