.download{
  background-color: var(--bg2_color);
  padding: 6rem 0;
  &__wrap{
    max-width: 95rem;
    margin: 0 auto;
    @extend .flex-aic-jcsb;

  }
  &__title{
    font-size: 4rem;
    line-height: 1.8;
  }
}